button {
    font-size: 1.6rem;
    background-color: green;
    padding: 1.5rem 3rem;
    color: white;
    width: 10rem;
}
.counter {

}
.count {
    font-size: 7rem;
    padding: 1.5rem 3rem;
}

.reset {
    font-size: 1.6rem;
    background-color: red;
    padding: 1.5rem 3rem;
    color: white;
    width: 20rem;
}
